# Migadu API (для генерации почт)
MIGADU_EMAIL="ваш_email@домен.com"
MIGADU_API_KEY="ваш_api_ключ"
MIGADU_DOMAIN="ваш_домен.com"

# Пароль для доступа к админ-панели ZenMailFlow
APP_ACCESS_TOKEN="ваш_секретный_токен"

# Токен для Telegram-бота (выдается в @BotFather)
TELEGRAM_BOT_TOKEN="123456789:ABCdefGHIjklmNOPqrsTUVwxyz123456789"

# ID администраторов в Telegram (через запятую), которые будут получать уведомления и иметь доступ к админ-меню
ADMIN_TELEGRAM_IDS="123456789,987654321"
